body{
    background-image: url("../img/rana-sawalha-364253-unsplash (1).png");
    background-size:cover;
    background-repeat: no-repeat;
    margin: 0;
}
/*--------------------Header content-------------------------*/
.header-content {
    background-color: rgba(0, 0, 0, 0.41);
    height: 54px;
    line-height: 54px;
}

.journey-content{
    font-family: Verdana,sans-serif;
    color:  #ffffff;
    font-size: 20px;
    font-weight: 700;
    line-height: 21px;
    text-align: left;
    text-decoration: none;
    margin-top: 20px;
    margin-left: 80px;
}

.journey-content:hover{
    color:  #3cb878;
}

.icon-welcome-content {
    float: right;
    display: inline-block;
}

.sprite {
    background-image: url(../img/spritesheet.png);
    background-repeat: no-repeat;
    display: inline-block;
    margin-left: 28px;
}

.sprite-ic_calendar_1 {
    width: 19px;
    height: 19px;
    background-position: -22px -1px;
}

.sprite-ic_calendar_1:hover{
    width: 19px;
    height: 19px;
    background-position: -1px -1px;
}

.sprite-ic_forum_2{
    width: 28px;
    height: 20px;
    background-position: -43px -1px;
}

.sprite-ic_forum_2:hover{
    width: 28px;
    height: 20px;
    background-position: -73px -1px;
}

.sprite-ic_journey_3 {
    width: 20px;
    height: 20px;
    background-position: -103px -1px;
}

.sprite-ic_journey_3:hover{
    width: 20px;
    height: 20px;
    background-position: -125px -1px;
}

.welcome-content{
    font-family: Verdana,sans-serif;
    color:  #ffffff;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: right;
}

.welcome-1:before{
    content: "";
    border: 0.9px solid white;
    margin-right: 25px;
    margin-left: 25px;
}

.icon-welcome-content{
    margin: auto 19px;
}

.icon-welcome-content-text{
    float: right;
}

.login-content {
    font-family: Verdana, sans-serif;
    color: #3cb878;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: right;
    text-decoration: none;
}

.login-content:hover{
    text-decoration: underline;
}
  /*-------------------------------Main content-------------------------*/
.main-content{
    background-color: rgb(255,255,255);
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.52);
    width: 444px;
    height: 584px;
    margin: 65px auto;
    text-align: center;
    border-radius: 8px;
}

.auth-block{
    width: 100%;
    display: inline-block;
}

.box{
    width: 18px;
    height: 18px;
    background-color:#3cb878;
    margin-top: 29px;
}

.main-content-left{
    font-family: Verdana,sans-serif;
    color:  #434343;
    font-size: 20px;
    font-weight: 400;
    text-align: left;
    margin-left: 60px;
    margin-top: -29px;
}

.main-content-right{
    font-family: Verdana,sans-serif;
    color:  #3cb878;
    font-size: 14px;
    font-weight: 400;
    text-align: right;
    text-decoration: none;
    float: right;
    margin-top: -33px;
    margin-right: 59px;
}

.main-content-right:hover{
    text-decoration: underline;
}

.main-content-bottom{
    display: inline-block;
}

.main-content-facebook{
    border-radius: 3px;
    background-color:  #264b96;
    width: 157px;
    height: 46px;
    line-height: 46px;
    display: inline-block;
}

.first-btn{
    font-family: Verdana,sans-serif;
    color:  #ffffff;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    margin-left: 0;
}

.fa-facebook-f{
    width: 10px;
    height: 20px;
    margin-right: 40px;
    position: relative;
}

.fa-facebook-f::after{
    content:"";
    border: 0.1px solid rgb(39, 82, 167) ;
    width: 1px;
    height: 28px;
    display: inline-block;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: -6px;
    position: absolute;
}

.main-content-google{
    border-radius: 3px;
    background-color:  #c3412c;
    width: 157px;
    height: 46px;
    line-height: 46px;
    display:inline-block;
}

.fa-google-plus-g{
    width: 25px;
    height: 16px;
    margin-right: 40px;
    position: relative;
}

.fa-google-plus-g::after {
    content:"";
    border: 0.1px solid rgb(224, 72, 47) ;
    width: 1px;
    height: 28px;
    display: inline-block;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: -6px;
    position: absolute;
}

.main-content-border{
    display: inline-block;
    margin-top: 25px;
}

.main-border{
    border: 0.2px solid rgb(234, 234, 234) ;
    width: 135px;
    height: 1px;
    display: inline-block;
    margin-left: 14px;
    margin-right: 14px;
}

.main-text{
    font-family: Verdana,sans-serif;
    color:  #848484;
    font-size: 14px;
    font-weight: 400;
}

.first-form{
    margin-top: 18px;
}

.third-form{
    border-radius: 3px;
    background-color:  #ffffff;
    box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.21);
    width: 322px;
    height: 46px;
    margin-bottom: 10px;
}

.fourth-form{
    font-family: Verdana,sans-serif;
    color:  #bebebe;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
}

input[type=checkbox] {
    display: none;
}

input[type=checkbox] + label:before {
    content: "\2713";
    color: transparent;
    display: inline-block;
    border: 1px solid black;
    border-radius: 2px;
    margin: -5px 5px 0 -102px;
    height: 11px;
    line-height: 11px;
    width: 11px;
    font-weight: 700;
    vertical-align: middle;
    transition: color ease .3s;
}

input[type=checkbox]:checked + label:before {
    color: #3cb878;
}

.main-content-link {
    color:  #3cb878;
    text-decoration: none;
}

.fifty-form{
    font-family: Verdana,sans-serif;
    width: 322px;
    height: 46px;
    color:  #ffffff;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
    border-radius: 8px;
    background-color:#3cb878 ;
}
